.container {
  display: flex;
}

.board {
  width: 350px;
  height: 420px;
  border: 1px solid black;
  /* display: grid; */
  /* grid-template-columns: 62px 62px 62px 62px 62px; */
  /* grid-template-columns: 62px 62px 62px 62px 62px; */
}

.wordlist {
  border: 1px solid black;
  width: 350px;
  height: 420px;
}

.remaining-count {
}

.candidate-words {
  overflow-y: scroll;
  height: 90%
}

.guess-word {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  user-select: none;
}

.letter-tile {
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  margin: 2.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #787c7e;
  text-transform: uppercase;
}

.letter-tile.present {
  background-color: #c9b458;
}

.letter-tile.correct {
  background-color: #6aaa64;
}

.letter-tile.pending {
  background-color: white;
  border: 1px solid black;
}
