.container {
  display: flex;
}

div {
  box-sizing: border-box;
}

.board {
  width: 350px;
  height: 420px;
  border: 1px solid black;
  /* display: grid; */
  /* grid-template-columns: 62px 62px 62px 62px 62px; */
  /* grid-template-columns: 62px 62px 62px 62px 62px; */
}

.header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.guess-list,
.candidate-list {
  border: 1px solid black;
  width: 350px;
  height: 420px;
  padding: 5px;
  text-align: center;
}

.wordlist {
  overflow-y: scroll;
  height: 90%;
}

.guess-list-word,
.candidate-word {
  font-size: 1.3em;
  cursor: pointer;
}

.guess-word {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  user-select: none;
}

.letter-tile {
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  margin: 2.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #787c7e;
  text-transform: uppercase;
}

.letter-tile.l {
  background-color: #c9b458;
}

.letter-tile.p {
  background-color: #6aaa64;
}

.letter-tile.pending {
  background-color: white;
  border: 1px solid black;
}

.letter-tile.initial {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.letter-tile.known {
  background-color: #6aaa64;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
  }

  5% {
    transform: rotate(5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  30% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(-5deg);
  }

  40% {
    transform: rotate(0deg);
  }
}
